apiVersion: v1
kind: Service
metadata:
  name: demo-nginx
  namespace: demo-nginx
spec:
  selector:
    app: demo-nginx
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
