apiVersion: v1
kind: ConfigMap
metadata:
  name: pimcore-nginx-config
  namespace: pimcore-dev
data:
  default.conf: |
    upstream php-fpm {
        server pimcore-php:9000;
    }

    server {
        listen 80;
        server_name _;

        root /var/www/html/public;
        index index.php;

        client_max_body_size 100M;

        # -----------------------------------
        # STATIC ASSETS
        # -----------------------------------
        location ~* \.(css|js|jpeg|jpg|gif|png|svg|webp|ico|json|pdf|woff|woff2)$ {
            try_files $uri /index.php$is_args$args;
            expires 7d;
            access_log off;
        }

        # -----------------------------------
        # ADMIN
        # -----------------------------------
        location ^~ /admin {
            rewrite ^(.*)$ /index.php$is_args$args last;
        }

        # -----------------------------------
        # MAIN ROUTING
        # -----------------------------------
        location / {
            try_files $uri /index.php$is_args$args;
        }

        # -----------------------------------
        # PHP HANDLER
        # -----------------------------------
        location ~ \.php$ {
            include fastcgi_params;
            fastcgi_pass php-fpm;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_read_timeout 300;
        }

        # -----------------------------------
        # NGINX STATUS (optional)
        # -----------------------------------
        location /nginx-status {
            stub_status;
            allow 127.0.0.1;
            deny all;
        }
    }
