apiVersion: v1
kind: ConfigMap
metadata:
  name: pimcore-nginx-config
  namespace: pimcore-dev
data:
  default.conf: |
    upstream php-pimcore10 {
        server pimcore-php:9000;
    }

    map $args $static_page_root {
        default                                 /var/tmp/pages;
        "~*(^|&)pimcore_editmode=true(&|$)"     /var/nonexistent;
        "~*(^|&)pimcore_preview=true(&|$)"      /var/nonexistent;
        "~*(^|&)pimcore_version=[^&]+(&|$)"     /var/nonexistent;
    }

    map $uri $static_page_uri {
        default                                 $uri;
        "/"                                     /%home;
    }

    server {
        listen [::]:80 default_server;
        listen 80 default_server;

        #server_name pimcore.localhost;

        root /var/www/html/public;
        index index.php;

        client_max_body_size 100m;

        # Pimcore Head-Link Cache-Busting
        rewrite ^/cache-buster-(?:\d+)/(.*) /$1 last;

        # Stay secure
        location ~* /var/assets/.*\.php(/|$) {
            return 404;
        }

        location ~* /\.(?!well-known/) {
            deny all;
            log_not_found off;
            access_log off;
        }

        location ~* (?:\.(?:bak|conf(ig)?|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$ {
            deny all;
        }

        location ~* ^/admin/external {
            rewrite .* /index.php$is_args$args last;
        }

        # Thumbnails
        location ~* .*/(image|video)-thumb__\d+__.* {
            try_files /var/tmp/thumbnails$uri /index.php;
            expires 2w;
            access_log off;
            add_header Cache-Control "public";
        }

        # Assets
        location ~* ^(?!/admin|/asset/webdav|/studio/api)(.+?)\.((?:css|js)(?:\.map)?|jpe?g|gif|png|svgz?|eps|exe|gz|json|zip|mp\d|m4a|ogg|ogv|webp|webm|pdf|csv|docx?|xlsx?|pptx?)$ {
            try_files /var/assets$uri $uri =404;
            expires 2w;
            access_log off;
            log_not_found off;
            add_header Cache-Control "public";
        }

        location / {
            error_page 404 /meta/404;
            try_files $static_page_root$static_page_uri.html $uri /index.php$is_args$args;
        }

        location ~ ^/index\.php(/|$) {
            send_timeout 1800;
            fastcgi_read_timeout 1800;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            include fastcgi_params;
            set $path_info $fastcgi_path_info;
            fastcgi_param PATH_INFO $path_info;
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            fastcgi_param DOCUMENT_ROOT $realpath_root;
            fastcgi_param HTTP_PROXY "";
            fastcgi_pass php-pimcore10;
            internal;
        }

        location /fpm- {
            access_log off;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            location /fpm-status {
                allow 127.0.0.1;
                deny all;
                fastcgi_pass php-pimcore10;
            }
            location /fpm-ping {
                fastcgi_pass php-pimcore10;
            }
        }

        location /nginx-status {
            allow 127.0.0.1;
            deny all;
            access_log off;
            stub_status;
        }
    }
