apiVersion: v1
kind: ConfigMap
metadata:
  name: pimcore-nginx-config
  namespace: pimcore-dev
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        root /var/www/html/public;

        index index.php index.html;

        location / {
            try_files $uri /index.php$is_args$args;
        }

        location ~ \.php$ {
            try_files $uri =404;
            fastcgi_pass pimcore-php:9000;
            fastcgi_index index.php;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        client_max_body_size 100M;
    }
